@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

/* Box Sizing */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #2F2A39;
}

/* layout */
.layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 5rem auto 3rem;
    grid-template-columns: 20rem auto 20rem;
    grid-template-areas: 
    'left header right'
    'left main right'
    'footer footer footer';
}

.layout-header {
    grid-area: header;
    justify-content: center;
}

.layout-main {
    grid-area: main;
}

.layout-footer {
    grid-area: footer;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; 
    justify-content: space-between;
}

main {
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    justify-items: center;
    align-items: top;
    color: #FFF8EA;
}

footer {
    font-family: 'Montserrat';
    color: hsl(0, 0%, 80%);
    display: grid;
    text-align: center;
    align-items: center;
}
