@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

/* Box Sizing */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* layout */
body {
    margin: 0;
    /* background-color: #2F2A39; */
    height: 100vh;
    display: grid;
    grid-template-rows: 5rem auto;
    grid-template-columns: 1fr minmax(300px, 2fr) 1fr;
    grid-template-areas: 
    'left header right'
    'left main right'
}

.header {
    grid-area: header;
    justify-content: center;
}

main {
    grid-area: main;
}