.todo-task {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: hsl(0, 0%, 90%);
    padding: 1rem;
}

.task-delete {
    margin-left: auto;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: transparent;
    color: black;
}

.task-delete:hover {
    color: blue;
}